/**
 * @name Orchis Theme
 * @version 1.0.2
 * @author stonleyfx
 * @authorId 505833634134228992
 * @description A recreation of the Orchis GTK theme.
*/

:root {
    --font: system-ui;
    --font-primary: system-ui;
    --font-display: system-ui;
    --font-headline: system-ui;
    --macbuttons-outline-color: #5f5f5f;
    --context-blur: 20px;
    --version1_0_1: none;
}

.theme-dark {
    --background-floating: #26262bb4;
    --divider: #f7ede621;
    --context-outline: #fff3;
    --background-mentioned: #346dca52;
    --background-mentioned-hover: #346dca2c;
    --background-active: #26282b;
    --background-notification: #3b3c3d98;
    --background-primary: #2C2C2C;
    --background-secondary: #242424;
    --background-secondary-alt: #373737;
    --background-floating: #3B3B3B;
    --brand-experiment: #3281EA;
    --background-tertiary: #3B3B3B;
    --input-background: #363636;
    --button-danger-background: #F44336;
    --button-outline-danger-border: #F44336;
    --home-background: var(--background-secondary);
    --modal-background: var(--background-primary);
    --brand-experiment-400: var(--brand-experiment);
    --brand-experiment-500: var(--brand-experiment);
    --brand-experiment-530: var(--brand-experiment);
    --brand-experiment-560: #4B4B4B;
    --brand-experiment-600: var(--brand-experiment);
    --modal-footer-background: var(--background-secondary);
    --primary-630: var(--background-secondary);
    --primary-660: var(--background-secondary);
    --primary-600: var(--background-secondary);
    --profile-body-background-color: var(--background-secondary);
}

.theme-light {
    --background-floating: #ececedc0;
    --divider: #d3d3d3;
    --context-outline: #bfbfc1;
    --background-mentioned: #5791f448;
    --background-mentioned-hover: #5791f428;
    --background-active: #c4c4c4;
    --background-notification: #26262bb4;
}

.profileCard_c6b11b {
    background-color: var(--background-secondary);
}

.theme-dark .scrollerContainer_c6b11b,
.theme-dark .emptyPage_c6b11b,
.theme-dark .container_f1fd9c,
.theme-dark .header_f1fd9c {
    background-color: var(--background-primary);
}

.theme-dark .container_c2efea {
    background-color: var(--background-primary);
}

.button_dd4f85 {
    border-radius: 10px;
}

.top_a0 .item_a0 {
    background-color: var(--background-primary);
    border: 2px solid transparent;
    border-radius: 10px 10px 0 0;
    padding: 10px 10px 10px 10px;
    font-size: small;
    margin-right: 0px;
}

.top_a0 .brand_a0.selected_a0.item_a0 {
    background-color: var(--background-primary);
    border: 2px solid #3B3B3B;
    border-bottom: transparent;
    border-radius: 10px 10px 0 0;
    padding: 10px 10px 10px 10px;
    font-size: small;
    margin-right: 0px;
}

.bar_c7a159 {
    height: 2px;
}

.grabber_c7a159 {
    background-color: var(--brand-experiment);
    border: none;
    border-radius: 50%;
    height: 10px;
    top: 65%;
}

.lookFilled_f6639d.select_f6639d {
    border-radius: 10px;
}

.input_f8bc55 {
    border-radius: 10px;
}

.bioTextArea_ccf27d {
    border-radius: 10px;
}

.wrapper_fea3ef {
    background-color: var(--background-primary);
}

.themedBackground_bdf0de {
    background-color: var(--background-tertiary);
}

.layerContainer_cd0de5 {
    background-color: var(--background-active);
}

.childWrapper_a6ce15 {
    background-color: var(--background-tertiary);
}

.colorable_ef18ee.primaryDark_ef18ee, .colorable_ef18ee.primaryDark_ef18ee .centerIcon_ef18ee {
    border-radius: 50%;
}

.menu_d90b3d {
    background-color: var(--background-tertiary);
    border-radius: 10px;
}

.scroller_d90b3d {
    padding: 4px;
}

.labelContainer_d90b3d {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    min-height: 28px;
}

.label_d90b3d {
    font-size: 13px;
}

.item_d90b3d {
    border-radius: 4px;
}

.colorDefault_d90b3d {
    color: white;
}

.scrollableContainer_bdf0de {
    border-radius: 15px;
}

.root_f9a4c9 {
    border-radius: 15px;
}

.footer_f9a4c9 {
    border-radius: 0 0 15px 15px;
}

.vc-st-modal-content input {
    border-radius: 10px;
}

::placeholder,
body,
button,
input,
select,
textarea {
    font-family: var(--font), system-ui;
}

.option_b0286e:after {
    background: none
}

.option_b0286e:hover {
    background-color: #4B4B4B;
}

.option_b0286e:hover:after {
    background: none;
}

.theme-dark .searchAnswer_b0fa94, .theme-dark .searchFilter_b0fa94 {
    background-color: #4B4B4B;
}
